*{
  box-sizing: border-box;
  margin:0 ;
  padding: 0;
  text-shadow: none !important;
  font-family: Arial;
  text-shadow:none !important;
}
root{
  display:block;
}


body{
    font-family: Arial !important;
}

html{height: 100%;}
.fullheight {
    height: 100% !important; 
    max-height: 100%; 
    box-sizing: border-box;
    overflow-x: hidden !important;
}
#content{padding: 3% 0 !important; overflow: hidden !important;}

.header {
    
    background-color:#003366;
    border: 1px solid #006666;
    width: 100%;
    position: absolute;
    margin-top: 0px !important;
    top: 0;
    z-index: 10;
}

.header-right{
    float: right;
    width: 50%;
    padding-top: 2px;
    margin-right: 2%;
}
/*Homepage menu*/
.home-menu
{
    border:0px solid #000; 
    width: 100%; 
    float:  left;
    text-align: center;  
}
.height60{height: 60% !important;}
.height40{height: 40% !important;}
.iconblock1 {text-decoration: none; width: 25%; height: 100%;  float: left;border-right: 0px solid #999; background-color: #ccc;/*#3B62B1;*/ padding: 11% 0;}
/*.iconblock1 img {position: relative; top: 40%; }*/
.iconblock1 p {width: 100%; font-size: 13px; color: #000; background:none !important; font-weight: normal !important; }

.iconblock2 {text-decoration: none; width: 25%; height: 100%; float: left;border-right: 0px solid #999; background-color: #6c7992; /*#C6483B;*/ padding: 4% 0;}
.iconblock2 p {width: 100%; font-size: 13px; color: #fff; background:none !important; font-weight: normal !important; }

.iconblock1:last-child, .iconblock2:last-child{ border:0;}

.nomargintop {margin-top: 0px !important;}

/*Homepage header formatting*/
.header #logo_icon_h
{
    width:15%;
    margin-top: 5px;
    margin-left: 25px;
    float:left;   
}
.header #title_txt_h
{
    color: #fff;
    float: left;
    text-align: center;
    margin-left:6% !important;
    margin-top: .4% !important;
    width: 20%;
}
.header #help_txt_h
{
    color: #fff;
    float: right;
    margin: 1.5% 1% !important;
    width: 10%;
}
.header #notification_txt_h
{
    color: #fff;
    float: right;
    margin: 1.5% 1% !important;
    width: 23%;
    background: url(../img/notification_icon.png) center right no-repeat;
}
.header #notification_icon_h
{
    margin-top: 15px;
    width: 5%;
    float:left;
}
.noticecount {
    float: right;
    font-weight: bold;
    margin-right: 5%;
}

.header #profile_txt_h
{
    color: #fff;
    float: right;
    margin: 1.5% 4% !important;
    width: 14%;
    background: url(../img/profile_icon.png) center right no-repeat;
}
.header #profile_icon_h
{
    margin-top: 13px;
    width: 2%;
    float:left;
}
.header #menu_icon_h
{
    /*margin-top: 15px;*/
    float: right;
    margin: 2%;
}
/*Other pages header formating with homepage icon*/
.header #logo_icon
{
width:5%;
margin-top: 10px;
margin-left: 25px;
float:left;
    
}
.header div#title{
   
    width: 35%;
    margin-top: 8px;
    font-family: Arial Black;
    font-size: 20px;
    color: #fff;
    text-align: right;
    float: left;
}
.header #home_icon
{
    width: 15%;
    float: right;
    margin-top: 1%;
    text-align: center;
    
}
.header #notification_txt
{
    margin-top: 15px;
    margin-right: 18px;
    width: 10%;
    float:left;
    font-family: 'Arial Black';
    font-size: 13px;
    color: #fff;
}
.header #notification_icon
{
    margin-top: 15px;
    width: 5%;
    float:left;
}
.header #profile_txt
{
    margin-top: 15px;
    margin-right:0px;
    width: 6.5%;
    float:left;
    font-family: Arial Black;
    font-size: 13px;
    color: #fff;   
}
.header #profile_icon
{
    margin-top: 13px;
    width: 5%;
    float:left;
    
}
.header #menu_icon
{
    margin-top: 15px;
    width: 3%;
    float:left;
    
}
.sidebar
{
    width: 29.5%;
    height: auto;
    background-color: #F4E9DD;
    float: left;
    margin-top: 2px;
    /*height: 400px;*/
}
.content-area
{
    width: 70%;
    background-color: #FFF;
    float: right;
    overflow: hidden;
    padding-top: 2%;
}
.content-question
{
    width: 90%;
    background-color: #FFF;
    float: right;
    overflow: hidden;
    padding-top: 2%;
}
.sidebar ul#sidebar_ul li
{
    font-family: Arial;
    font-size: 15px; 
    text-align: left;
    border-bottom: 1px solid 	#ccc;
}
.sidebar ul#sidebar_ul li a
{
    color: #000;
    text-decoration: none;
    font-weight: normal;
    margin-left: 6%;
    display: block;
    padding: 9%;
}
.sidebar ul#sidebar_ul li a:visited, .sidebar ul#sidebar_ul li a:link
{
    color: #000 !important; 
}

.sidebar ul#sidebar_ul li a:hover, .sidebar ul#sidebar_ul li a:active
{
    color: #003366 !important; 
}
.sidebar ul#sidebar_ul li:last-child
{
   /*border-bottom: none;*/ 
}
/*Active link- should work... */
.sidebar ul#sidebar_ul li#link
{
    
}
.sidebar ul#sidebar_ul li a.active
{
    color: #003366 !important;
    font-weight: 400;
    background: url(../img/s-active-link.png) right no-repeat;
}
/*this out with leke*/
.c-header
{
    margin-top: 10px;
    margin-left:10px;
    margin-bottom: 10px;
    width: 95%;
}
.c-header div.c-title
{
    font-family: Arial;
    font-size: 20px;
    width:85%;
    float: left;
    margin-bottom: 5px;
}



/*.c-popup a
{  
   width: 10%;
   margin-left: 43px;
}
.c-popup-txt
{  
    margin-top: 10px !important;
    font-size: 13px;
    color: #000;
	text-align:left;
	padding: 5px;
}
.c-popup-back-btn
{
    text-align: center !important;
    background-color: #036 !important;

    padding: 1px 0 5px 0 !important;
    margin-top: 10px;
}

}*/


.c-list
{
    width:95%;
    height: 81%;
    float: left;
    margin: 5px; 
    border: 0px solid #000; 
}
span#column-width
{
   width:25.1%;
   display: inline-block;
   text-align: center;
   /*margin-left: 1%;*/
}
span#column-width-1
{
   width:23%;
   display: inline-block;
   text-align: center;
   margin-left: 1%;
}
.sidebar-notification-counter li
{
    background: #F4E9DD !important;
}

.sidebar-notification-counter li span
{
    margin-right: 5%;
}
.question-opt
{
    padding: 1%;
    display:inline-block;
    margin-right: 4%;
    background: url(../img/bubble-icon.png) no-repeat;
}

.c-inner-content p
{
   /*width: 100%;*/
   border-bottom: 1px solid	#ccc;
   background: url(../img/c-icon-r1.png) 90% center no-repeat;
}
.c-inner-content p:last-child 
{
    border: 0;
}
.c-inner-content p a
{
    color: #003366 !important;
    text-decoration: none;
    font-weight: normal !important;
    font-family: Arial;
    font-size: 15px;
    padding: 15px;
    display: block;
}

.c-inner-content p {
    padding: 1% 2%;
}

.c-inner-content p img
{
float: right;
margin-right: 2px;
}
.focus-area{
    height: 85%;
    overflow: scroll;
    padding:1% 2%;
}

video { margin-top: -20px;}

.training-video-nav
{
    width: 70%; 
    margin-left: 90px;
}
.training-video-nav-left
{
    margin-left: 20px;
    padding: 10px 30px;
    background: url(../img/t-v-icon-l.png) left no-repeat;
}
.training-video-nav-right
{
    margin-right: 20px;
    padding: 10px 30px;
    background: url(../img/t-v-icon-r.png) right no-repeat;
}
.content-listing li
{
   width: 90%;
   padding: 1% 0 !important;
   margin-left: 3%;
   border-bottom: 1px solid 	#ccc;
   list-style: none;
}
.content-listing li#coloredbgcontent
{
text-align: center;
background-color: #F4E9DD;
padding: 2%;
}
.content-listing li:last-child 
{
    border: 0;
}
.content-listing li p
{
    padding: 1% 0;
}
.content-listing li p span
{
    /*float:  right;*/
}
.row-content div
{
   /*width: 95%;*/
   /*margin-left: 4%;*/
   border-bottom: 1px solid 	#ccc;
   text-align: center;
}
.row-content div:last-child
{
   border-bottom: 0;
}
.row-content div p
{
    padding: 2%;
}
.row-content div p#grp-btn
{
    padding: .5%;
}

.row-content-col
{
    width: 25%;
    float:  left;
    margin-top: 1%;
    text-align: center;
  
}
.row-content-col-btn{
    width: 25%;
    display: inline-block;
    margin-left: 4% !important;
}
.row-content-col-btn a { display: block; margin-bottom: 2% !important; }

.styleinputtext
{ 
    border: 1px solid 	#003366;
    padding: 5px 3px;
    box-sizing: border-box;
    
}

/*Footer*/
.footer {
   
    background-color:#003366;
    border: 1px solid #006666;
    width: 100%;
    /*height: 8%; /*49px;*/
    position:absolute;
    margin-top: 0px !important;
    bottom: 0;  
    padding-bottom: 4px;
    z-index: 10;
}
.footer #footer_text1
{
    
    width:40%;
    margin-top: 2px;
    margin-left: 5%;
    float:left;
    font-family: Arial;
    font-size: 11px;
    color: #fff;
}


.footer #footer_text2
{
    
    width:50%;
    margin-top: 2px;
    margin-left: 80%;
    font-family: Arial;
    font-size: 11px;
    color: #fff; 
   
}

.full-length-box{
    height:100px;
    font-weight:normal !important;
    width: 98% !important;
    overflow-y:auto; 
    text-align:justify;
}


/*
    UTILITY
------------------------------------------------------------------------------*/
.padcontainer{padding:1% 0%;}
.noborder{border: 0 !important;}
.noradius{border-radius: 0 !important;}
.nomargin {margin: 0 !important;}
.margintop10 {margin-top: 10px !important;}
.margintop20 {margin-top: 20px !important;}
.margintop40 {margin-top: 40px !important;}
.marginbottom10 {margin-bottom: 10px !important;}
.marginbottom20 {margin-bottom: 20px !important;}
.marginleft25 {margin-left: 25px !important;}
.marginright15 {margin-right: 15px !important;}
.marginleft15 {margin-left: 20px !important;}
.marginright10 {margin-right: 10px !important;}
.marginleft10 {margin-left: 10px !important;}
.marginleft20 {margin-left: 20% !important;}
.marginright20 {margin-right: 20px !important;}
.hidden {display: none !important;}
.bold {font-weight: bold !important;}
.uppercase {text-transform: uppercase; }
.date {color:#ccc; font-size: 10px !important;}
.articleblock  {margin-bottom: 1px !important; }
.articleblock p {font-size: 13px;}
.articleblock img, .dietblock img {margin: 5px 5px; height: 80px; width: 80px; border-radius: 7px;}
.articlecontent { white-space: normal; padding:15px 10px 10px; }
.articlecontent p {white-space: normal; font-size: 14px; margin-bottom: 20px; font-weight: normal; }
.textfontarial15{font-family: Arial !important; font-size: 15px !important; }
.textfontarial13{font-family: Arial !important; font-size: 13px !important; }
.textfontarial12{font-family: Arial !important; font-size: 12px !important; }
.textfontarialblack13{    font-family: 'Arial Black' !important; font-size: 13px !important;}
.textfontarialblack20{    font-family: 'Arial Black' !important; font-size: 20px !important;}
.notextdecoration{text-decoration: none !important; font-weight: normal !important;}
.bottomborder{border-bottom: 1px solid #ccc !important; width: 70%;}
.boxborder{border-bottom: 1px solid #ccc !important; border-top: 1px solid #ccc !important; border-left: 1px solid #ccc !important; border-right: 1px solid #ccc !important;width: 70%;}
.textblack{color: #000 !important;}
.textwhite{color: #fff !important;}
.textlemon{color: #009900 !important;}
.textccc{color: #ccc !important;}
.text999{color: #999 !important;}


/*******    ALIGNMENT   *******/
.textleft {text-align: left !important;}
.ui-block {text-align: center !important;}
.textcenter {text-align: center !important;}
.textright {text-align: right !important;}
.centerpage {margin: auto !important;}
.floatleft {float: left !important;}
.floatright {float: right !important;}


/*******    CONTROLS   *******/
.marginb10 {margin: -10px !important;}

.pagebutton{
    margin:auto !important;
    background: #036 !important;
    color: #fff !important;
    border: 0 !important;
    border-radius: 0!important;
}

.footerbutton{
    background: #fff !important;
    color: #036 !important;
    font-weight: bold !important;
    padding: 0 15px !important;
    margin-left: 2% !important;
    margin-right: 1% !important;
}

.width10{width: 10% !important;}
.width20{width: 20% !important;}
.width30{width: 30% !important;}
.width40{width: 40% !important;}
.width50{width: 50% !important;}
.width60{width: 60% !important;}
.width90{width: 90% !important;}
.width95{width: 95% !important;}

.registration-form{ width: 85% !important;}
.fieldrow{ text-align: center !important; border-bottom: 0px solid #ccc !important;}
.fieldrow label {margin-top: 6px !important;}
.fieldrow div.ui-input-text {width: 45% !important;}

.popup-box{
    border: 0 !important;    
}

.popup_header {
    background: #036;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-weight:bold;
}

.popup_body{
    background: #fff !important;
    padding: 5% !important;
    min-width: 300px;
}
.popup_body ul{background: #fff !important;}
.popup_body ul li:last-child{border-bottom: 0 !important;}
#quickMenu{
    margin-top: 3px; 
    border: 0 !important; 
    min-width: 100px;
}



#choicelist { width: 100%;}
#choicelist li {border-bottom: 1px solid #ccc; }
#choicelist li label{border-radius:0 !important;}
#choicelist li label span.ui-btn-inner {border:0 !important;}

/*
    OVERRIDES
------------------------------------------------------------------------------*/
.ui-content {padding:0 !important; /*margin-top: 48px;*/}


/*Bar padding and font tunings. Line: 2814*/
.ui-li-divider {padding: .5em 15px; font-size: 15px !important; font-family: Arial !important; color:#fff !important; font-weight:normal !important; }


/*Straightens top left/right bar borders Lines: 2821-2827*/
.ui-listview > .ui-li.ui-first-child,
.ui-listview .ui-btn.ui-first-child > .ui-li > .ui-btn-text > .ui-link-inherit {
	-webkit-border-top-right-radius: 0px !important;	
	border-top-right-radius: 0px !important;
	-webkit-border-top-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
}

/*btn text formating Line: 2194*/
.ui-btn-inner { font-size: 13px !important;  font-family: Arial !important; font-weight:normal !important;}

/*btn text formating Lines: 884-887*/
/*.ui-btn-active:visited,
.ui-btn-active:hover,
.ui-btn-active a.ui-link-inherit {
	color: 					#003366 !important {global-active-color};
}*/

/*a:active button*/
/*.ui-btn-active {
        border: none !important;       
	background: none !important {global-active-background-color};
	font-weight: normal !important;
	color: 					#003366 {global-active-color};
	text-shadow: 0 {global-active-shadow-x} 0px {global-active-shadow-y} 0 {global-active-shadow-radius} url(img/btn-line.png) {global-active-shadow-color} !important;
	text-decoration: none;
	background-image: none !important;
}*/


/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/
.ui-corner-all {
	-webkit-border-radius: 				0em  !important/*{global-radii-blocks}*/;
	border-radius: 					0em !important/*{global-radii-blocks}*/;
}

/* button inner top highlight Lines: 891-894
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-inner {
	border-top: none !important;
        border-bottom:  1px solid 	#ccc;
	border-color: 		#ccc !important;
}

/*.ui-btn-active 
{
color: #000 !important;    
}*/

/* Spacing between collapsibles Line: 2277
-----------------------------------------------------------------------------------------------------------*/
.ui-collapsible-inset { margin: 1.0em 0 !important; }


/* Collapsible content block styling Line: 2277
-----------------------------------------------------------------------------------------------------------*/
.ui-collapsible-content {
        background-color: #F4E9DD !important;   /* c-inner-content*/
        border-bottom: 1px solid 	#ccc;
        height: auto;
}
/* Outer collapsible arrow image
-----------------------------------------------------------------------------------------------------------*/
#collapsible_content .ui-btn-icon-right .ui-icon {background: url(../img/c-icon-d.png) center right no-repeat !important;}
#collapsible_content .ui-btn-icon-top .ui-icon {background: url(../img/c-icon-u.png) center right no-repeat !important;}
/*Popup tweaks
-----------------------------------------------------------------------------------------------------------*/
/*.ui-popup-container
{
    min-width:300px !important;
    margin-left: 100px !important;

    
}
.session-popup-container
{

    margin-left: 0px !important;
}


.ui-popup .ui-title 

    position: absolute !important;
    top: 0 !important;
    left: 250px !important;
    z-index: 200000 !important;
}*/
/*.ui-popup .ui-title 

{
    font-size: 13px !important;
    color:#fff !important;
    
}*/

/*.ui-overlay-shadow
{
   	-moz-box-shadow: 0 0 0px 			rgba(0,0,0,.6) !important;
	-webkit-box-shadow: 0 0 0px 		rgba(0,0,0,.6) !important;
	box-shadow: 0 0 0px 				rgba(0,0,0,.6) !important; 

}*/

/*.ui-body-popup{
	background: 			#FFFFFF!important; /*{e-body-background-color}*/ 
	/*background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{e-body-background-start}*/
       /* ,to( #FFFFFF ) ) !important;/* Saf4+, Chrome *//*{e-body-background-end}*/
	/*background-image: -webkit-linear-gradient( #FFFFFF , #FFFFFF) !important;/*{e-body-background-start}*/ /*{e-body-background-end}*/ /* Chrome 10+, Saf5.1+ */
	/***background-image:    -moz-linear-gradient( #FFFFFF, #FFFFFF ) !important; /*{e-body-background-start}*//*{e-body-background-end}*/ /* FF3.6 */
	/*background-image:     -ms-linear-gradient( #FFFFFF , #FFFFFF) !important; /*{e-body-background-start}*/ /*{e-body-background-end}*//* IE10 */
	/*background-image:      -o-linear-gradient( #FFFFFF , #FFFFFF) !important;/*{e-body-background-start}*/ /*{e-body-background-end}*/ /* Opera 11.10+ */
	/*background-image:         linear-gradient( #FFFFFF/, #FFFFFF) !important;}/*{e-body-background-start}*/ /*{e-body-background-end}*/
/*.ui-btn-popup-ok{ 
	background: 			#FEFEFE !important;/*{e-body-background-color}*/ 
	/*background-image: -webkit-gradient(linear, left top, left bottom, from( #FEFEFE ), to( #FEFEFE)) !important;/*{e-body-background-start}*/ /*{e-body-background-end}*/ /* Saf4+, Chrome */
	/*background-image: -webkit-linear-gradient( #FEFEFE , #FEFEFE) !important;/*{e-body-background-start}*/ /*{e-body-background-end}*/ /* Chrome 10+, Saf5.1+ */
	/*background-image:    -moz-linear-gradient( #FEFEFE , #FEFEFE ) !important;/*{e-body-background-start}*//*{e-body-background-end}*/ /* FF3.6 */
	/*background-image:     -ms-linear-gradient( #FEFEFE , #FEFEFE) !important; /*{e-body-background-end}*//*{e-body-background-start}*/ /* IE10 */
	/*background-image:      -o-linear-gradient( #FEFEFE , #FEFEFE) !important; /*{e-body-background-start}*/ /*{e-body-background-end}*//* Opera 11.10+ */
	/*background-image:         linear-gradient( #FEFEFE, #FEFEFE) !important;/*{e-body-background-start}*/ /*{e-body-background-end}*/
/*width: 15% ;
}*/
/*.ui-btn {

margin-left: 0px !important;

}*/

/*.ui-body-popup{
	background: 			#FFFFFF {e-body-background-color} !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF {e-body-background-start}), to( #FFFFFF {e-body-background-end})) !important;  Saf4+, Chrome 
	background-image: -webkit-linear-gradient( #FFFFFF {e-body-background-start}, #FFFFFF {e-body-background-end}) !important;  Chrome 10+, Saf5.1+ 
	background-image:    -moz-linear-gradient( #FFFFFF {e-body-background-start}, #FFFFFF {e-body-background-end}) !important;  FF3.6 
	background-image:     -ms-linear-gradient( #FFFFFF {e-body-background-start}, #FFFFFF {e-body-background-end}) !important;  IE10 
	background-image:      -o-linear-gradient( #FFFFFF {e-body-background-start}, #FFFFFF {e-body-background-end}) !important;  Opera 11.10+ 
	background-image:         linear-gradient( #FFFFFF{e-body-background-start}, #FFFFFF {e-body-background-end}) !important;
}*/
/*.ui-btn-popup{
	background: 			#FEFEFE {e-body-background-color} !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FEFEFE {e-body-background-start}), to( #FEFEFE {e-body-background-end})) !important;  Saf4+, Chrome 
	background-image: -webkit-linear-gradient( #FEFEFE {e-body-background-start}, #FEFEFE {e-body-background-end}) !important;  Chrome 10+, Saf5.1+ 
	background-image:    -moz-linear-gradient( #FEFEFE {e-body-background-start}, #FEFEFE {e-body-background-end}) !important;  FF3.6 
	background-image:     -ms-linear-gradient( #FEFEFE {e-body-background-start}, #FEFEFE {e-body-background-end}) !important;  IE10 
	background-image:      -o-linear-gradient( #FEFEFE {e-body-background-start}, #FEFEFE {e-body-background-end}) !important;  Opera 11.10+ 
	background-image:         linear-gradient( #FEFEFE{e-body-background-start}, #FEFEFE {e-body-background-end}) !important;
}*/
.ui-btn {
/*width: 15%;*/
/*margin-left: 200px !important;*/
/*margin-bottom:0 !important;*/
}


/*
*   LEKE STYLES
-------------------------------------------------------*/
#contentList li{
    border-bottom: 1px solid #ccc;
}
#contentList li:last-child{border: 0;}
